<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- font-awesome_icons_link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Style Css Link -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/subscription.css' %}">
    <title>Subscription</title>
</head>

<body>


    <section>
        <div class="container subs_cards_container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="subs_cards_tittle_div text-center">
                        <h3>Small</h3>
                    </div>
                    <div class="subs_card_main_div mx-auto">
                        <div class="subs_cards_price_div">
                            <h1><sup>$</sup> 49 <span>per/month</span> </h1>
                        </div>
                        <div class="subs_cards_btn_div text-center">
                            <button type="button">Sign Up</button>
                        </div>
                        <div class="price_plane_terms_div">
                            <p><a href="#">Certificate</a></p>
                            <p><a href="#">Free Lunch</a></p>
                            <p><a href="#">Easy Access</a></p>
                            <p><a href="#">Free Contacts</a></p>
                            <p><a href="#">Conference plans</a></p>
                            <p><a href="#">Free Lunch And Coffee</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="subs_cards_tittle_div text-center">
                        <h3>Medium</h3>
                    </div>
                    <div class="subs_card_main_div mx-auto">
                        <div class="subs_cards_price_div">
                            <h1><sup>$</sup> 98 <span>per/month</span> </h1>
                        </div>
                        <div class="subs_cards_btn_div text-center">
                            <button type="button">Sign Up</button>
                        </div>
                        <div class="price_plane_terms_div">
                            <p><a href="#">Certificate</a></p>
                            <p><a href="#">Free Lunch</a></p>
                            <p><a href="#">Easy Access</a></p>
                            <p><a href="#">Free Contacts</a></p>
                            <p><a href="#">Conference plans</a></p>
                            <p><a href="#">Free Lunch And Coffee</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="subs_cards_tittle_div text-center">
                        <h3>Larg</h3>
                    </div>
                    <div class="subs_card_main_div mx-auto">
                        <div class="subs_cards_price_div">
                            <h1><sup>$</sup> 145 <span>per/month</span> </h1>
                        </div>
                        <div class="subs_cards_btn_div text-center">
                            <button type="button">Sign Up</button>
                        </div>
                        <div class="price_plane_terms_div">
                            <p><a href="#">Certificate</a></p>
                            <p><a href="#">Free Lunch</a></p>
                            <p><a href="#">Easy Access</a></p>
                            <p><a href="#">Free Contacts</a></p>
                            <p><a href="#">Conference plans</a></p>
                            <p><a href="#">Free Lunch And Coffee</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="subs_cards_tittle_div text-center">
                        <h3>Enterprise</h3>
                    </div>
                    <div class="subs_card_main_div mx-auto">
                        <div class="subs_cards_price_div">
                            <h1><sup>$</sup> 199 <span>per/month</span> </h1>
                        </div>
                        <div class="subs_cards_btn_div text-center">
                            <button type="button">Contact Us</button>
                        </div>
                        <div class="price_plane_terms_div">
                            <p><a href="#">Certificate</a></p>
                            <p><a href="#">Free Lunch</a></p>
                            <p><a href="#">Easy Access</a></p>
                            <p><a href="#">Free Contacts</a></p>
                            <p><a href="#">Conference plans</a></p>
                            <p><a href="#">Free Lunch And Coffee</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>